.intro
  .wrapper

    .title
      Получите 3 видеоурока
      %br
      по герою Pudge, которые
      %br
      изменят вашу игрy


    .bullets
      .bullet
        1. Как правильно играть соло мид

      .bullet
        2. Как стать мастером хука
        %br
        и попадать в большинстве случаев

      .bullet
        3. Как правильно делать ганги
        %br
        играя за Pudge


    .button#show-form
      Получить уроки