.overlay
.modal

  .modal-form

    .modal-title
      Подпишитесь на нашу рассылку
    .modal-subtitle
      и вам на email придет ссылка на первый видеурок

    %form
      .input-group
        %input{type: :text, name: :name, placeholder: 'Введите ваше имя'}

      .input-group
        %input{type: :text, name: :email, placeholder: 'Введите ваш email'}
        
      .button.send-form
        Подписаться

  .modal-thank
    Вам отправлено письмо. Проверьте почту.